/.~lock.yauheni_chekan_course_work_22_LR_JA.odt#
/Course Work LR 2024.pdf
/DALL·E 2024-12-19 21.59.27 - A logical schema diagram for an OLAP database in a star schema design.jpg
/Vehicle Rental OLTP DB ERD.png
/yauheni_chekan_course_work_22_LR_JA.odt